{% extends 'role/basic.html' %}

{% block title%}Pay Slip{% endblock %}
{% block pay_slip_active%}active{% endblock %}


{% block pay_slip_current%}
	<span class="sr-only">(current)</span>
{% endblock %}



{% block style%}
{% endblock %}


{% block body%}

<style>
	 #cont {
	 	padding: 30px;
	 }
	</style>

	<div class="container" id="cont"> 

		<div class="card-deck">

			<div class="card border-primary mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-primary">
			    <h5 class="card-title">Month and year</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>
			<div class="card border-secondary mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-secondary">
			    <h5 class="card-title">Month and yearle</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>
			<div class="card border-success mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-success">
			    <h5 class="card-title">Month and year</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>

		</div>
		<div class="card-deck">

			<div class="card border-danger mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-danger">
			    <h5 class="card-title">Month and year</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>
			<div class="card border-warning mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-warning">
			    <h5 class="card-title">Month and year</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>
			<div class="card border-info mb-3" style="max-width: 18rem;">
			  <div class="card-header">Pay Slip</div>
			  <div class="card-body text-info">
			    <h5 class="card-title">Month and year</h5>
			    <p class="card-text">Amount and more details about bonous!!!</p>
			  </div>
			</div>

		</div>	

	</div>

{% endblock %}
